<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item ion-item *ngFor="let item of items" (click)="showDetail()">
        <ion-thumbnail>
          <img [src]="item.imageUrl || 'assets/imagem/prod.jpg'">
        </ion-thumbnail>
        <h2>{{item.nome}}</h2>
        <p>{{item.preco | currency}}</p>
    </ion-item>
  </ion-list>
</ion-content>


