h1 {
  font-family: ‘Pacifico’;
  color: rgb(245,255,250);
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  margin-left: 70px;
  }

  h1 span {
  font-family: ‘Roboto’;
  font-size: 18px;
  position: absolute;
  margin-top: 55px;
  margin-left: -35px;
  }

  ion-content.background{
    --background: url(../../assets/imagem/loja2.jpg) 0 0/100% 100% no-repeat;

  }

  .bg-transparent {
    background: transparent;
    width: 75%;
    margin: auto;
    margin-top: 250px;
    margin-left: 50px;
  }

  .btn-outline-primary {
    margin-top: 20px;
  }

  .btn-outline-light {
    margin-top: 20px;
  }

  .icone {
    align-self: center;
  }

  ion-item.entrar {
    margin-top: 30px;
  }

  ion-item.conta {
    margin-top: 10px;
  }

 


 




