<ion-pane class="login-custom">

  <ion-content [fullscreen]="true" class="background">
  <h1>homeOrders <span>security</span></h1>

<ion-list class="bg-transparent">
          
          <ion-item color="none" lines="none">         
              <ion-label position="floating">Usuário: </ion-label> 
              <ion-input type="text"></ion-input>        
          </ion-item>
              
          <ion-item color="none" lines="none">
            <ion-label position="floating">Senha: </ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <!--Redireciona para categorias a parir do botão-->
          <ion-item color="none" lines="none"> <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="login()">Entrar</button>          
          </ion-item>

          <ion-item color="none" lines="none"> <button type="button" class="btn btn-outline-light btn-lg btn-block">Criar Conta</button>
         
            
          </ion-item>
          
</ion-list>

  </ion-content>
</ion-pane>







    
     