.favCard{
    background-color: rgb(248, 235, 213);
    font-family: Cursive;
    font-size: 20px;
}

.title{
    background-color: rgb(248, 235, 213);
    font-family: Cursive;
    font-size: 20px;
}


