<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ProdutoDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab slot="fixed">
    <ion-fab-button size="small" (click)="cart()"><ion-icon name="cart-outline"></ion-icon></ion-fab-button>
  </ion-fab>
  <ion-card>
    <img [src]="item?.imageUrl || 'assets/imagem/prod.jpg'"/>
    <ion-card-content>
      <ion-card-title>
        {{item?.nome}}
        </ion-card-title>
      <p>
        {{item?.preco | currency}}
      </p>
    </ion-card-content>
  </ion-card>

  <button ion-button block outline (click)="addToCart(item)">Adicionar ao carrinho</button>
</ion-content>
