<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Fechamento pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="favCard">
        <ion-list>
            <ion-list-header class="subTitle">
              Selecione um endereço
            </ion-list-header>
            <button ion-item *ngFor="let item of items" (click)="nextPage(item)">
                <ion-card-title>{{item.logradouro}}, {{item.numero}}</ion-card-title><br/>
                <ion-card-subtitle>{{item.complemento}} {{item.bairro}} CEP {{item.cep}}</ion-card-subtitle><br/>
                <ion-card-subtitle>{{item.cidade.nome}}, {{item.cidade.estado.nome}}</ion-card-subtitle><br/>
            </button><p></p>
          </ion-list>
    </ion-card>
</ion-content>

