.nolinebreak {
    padding-right: -50px;
}

ion-item.item {
    text-align: left;
}

//ion-content {
    //--background: url('../../assets/novo7.png') 0 0/100% 100% no-repeat;
//}

//--background: url(../../assets/imagem/novo7.jpg) 0 0/100% 100% no-repeat;

.favCard{
    background-color: rgb(248, 235, 213);
    font-family: Cursive;
    font-size: 20px;
}

.title{
    background-color: rgb(248, 235, 213);
    font-family: Cursive;
    font-size: 20px;
}