<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Profile</ion-title>
  </ion-toolbar>
</ion-header>
<p></p>
<ion-content padding>

    <ion-avatar>
        <img class="circle" [src]="cliente?.imageUrl || 'assets/imagem/avatar-blank.png'">
    </ion-avatar>

      <ion-label>{{cliente?.nome}}</ion-label>
      <ion-label>{{cliente?.email}}</ion-label>

  <ion-card class="favCard">
    <ion-card-header translucent>
      Enviar imagem de perfil
    </ion-card-header>

    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>

    <ion-item>
      <ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</ion-button>
      <ion-button block (click)="getGalleryPicture()" [disabled]="cameraOn">Galeria</ion-button>
      <ion-button class="btn-lg btn-block" *ngIf="picture" ion-button outline block (click)="sendPicture()">Enviar imagem</ion-button>
      <ion-button class="btn-lg btn-block" *ngIf="picture" ion-button outline block (click)="cancel()">Descartar imagem</ion-button>
    </ion-item>
    
  </ion-card>  

</ion-content>
